* {
  margin: 0;
  padding: 0;
}
/*Háttér(Kezdés)*/
body {
  background-color: #1116f5;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/*Háttér(Befejezés)*/

/*Fejléc(Kezdés)*/
.Header {
  width: 1170px;
  margin: 0 auto;
}
.Fejléc {
  height: 100px;
  background: black;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.Logó {
  width: 30%;
  float: left;
  line-height: 100px;
}
.Logó a {
  text-decoration: none;
  font-size: 30px;
  font-family: poppins;
  color: white;
  letter-spacing: 5px;
}
.NavigációsBár {
  float: center;
  line-height: 100px;
}
.NavigációsBár a {
  text-decoration: none;
  font-family: poppins;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: white;
}
.Röviden {
  padding: 120px;
}
h3 {
  color: red;
}
.Kép1 {
  padding: 150px;
}

/*Fejléc(Befejezés)*/
